<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8" />
    <title>My EZ Team</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    
    <script src="http://code.angularjs.org/1.1.4/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular-resource.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script type="text/javascript" src="/js/restangular.js"></script>
    
    <script src="app.js"></script>
  </head>

  <body>
    <div ng-app="team">
	    <div ng-view></div>
  
  
  
    <!-- CACHE FILE: list.html -->
    <script type="text/ng-template" id="list.html">
      <input type="text" ng-model="search" class="search-query" placeholder="Search">
      <table>
        <thead>
        <tr>
          <th>Name</th>
          <th><a href="#/new"><i class="icon-plus-sign"></i></a></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="team in teams | filter:search | orderBy:'name'">
          <td><a href="#/view/{{team.uuid}}">{{team.name}}</a></td>
          <td>
            <a href="#/edit/{{team.uuid}}"><i class="icon-pencil"></i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </script>
  
    <!-- CACHE FILE: view.html -->
    <script type="text/ng-template" id="view.html">
      <h3>{{ team.name }}</h3>
      <ul>
        <li>Owner: {{team.owner_uuid}}</li>
      </ul>
      <div>
        <tabset>
          <tab heading="Events">
            <ng-include src="'events.html'"/>
          </tab>
          <tab heading="Players">
            <ng-include src="'players.html'"/>
          </tab>
        </tabset>
      </div>
    </script>
  
    <!-- CACHE FILE: detail.html -->
    <script type="text/ng-template" id="detail.html">
      <form name="myForm">
        <div class="control-group" ng-class="{error: myForm.name.$invalid}">
          <label>Name</label>
          <input type="text" name="name" ng-model="team.name" required>
          <span ng-show="myForm.name.$error.required" class="help-inline"> Required</span>
        </div>
      
        <br>
        <a href="#/" class="btn">Cancel</a>
        <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid" class="btn btn-primary">Save</button>
        <!-- <button ng-click="destroy()" ng-show="team.uuid" class="btn btn-danger">Delete</button> -->
      </form>
    </script>
  
    <!-- CACHE FILE: events.html -->
    <script type="text/ng-template" id="events.html">
      <input type="text" ng-model="search" class="search-query" placeholder="Search">
      <table>
        <thead>
        <tr>
          <th>Name</th>
          <th><a href="#/view/{{team.uuid}}/events/new"><i class="icon-plus-sign"></i></a></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="event in events | filter:search | orderBy:'name'">
          <td><a href="#/view/{{event.team_uuid}}/events/view/{{event.uuid}}">{{event.name}}</a></td>
          <td>
            <a href="#/events/edit/{{event.uuid}}"><i class="icon-pencil"></i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </script>
    
    <!-- CACHE FILE: event_detail.html -->
    <script type="text/ng-template" id="event_detail.html">
      <h4>Add Event to {{team.name}}</h4>
      <form name="eventForm">
        <div class="control-group" ng-class="{error: eventForm.name.$invalid}">
          <label>Name</label>
          <input type="text" name="name" ng-model="event.name" required>
          <span ng-show="eventForm.name.$error.required" class="help-inline">Required</span>
        </div>
        <div class="control-group" ng-class="{error: eventForm.start.$invalid}">
          <label>Start</label>
          <input type="datetime" name="start" ng-model="event.start" required>
          <span ng-show="eventForm.start.$error.required" class="help-inline">Required</span>
        </div>
        <div class="control-group" ng-class="{error: eventForm.end.$invalid}">
          <label>End</label>
          <input type="datetime" name="end" ng-model="event.end">
        </div>
        <div class="control-group" ng-class="{error: eventForm.location.$invalid}">
          <label>Location</label>
          <input type="text" name="location" ng-model="event.location">
        </div>
        <div class="control-group" ng-class="{error: eventForm.default_rsvp.$invalid}" ng-controller="RsvpCtrl">
          <label>Default RSVP</label>
          <select id="newEventDefaultRSVP" required name="default_rsvp" ng-model="event.default_rsvp" ng-options="rsvp.name as rsvp.name for rsvp in rsvps">
          </select>
        </div>
        <br>
        <a href="#/view/{{team.uuid}}/events" class="btn">Cancel</a>
        <button ng-click="save()" ng-disabled="isClean() || eventForm.$invalid" class="btn btn-primary">Save</button>
        <!-- <button ng-click="destroy()" ng-show="team.uuid" class="btn btn-danger">Delete</button> -->
      </form>
    </script>
    
    <!-- CACHE FILE: event.html -->
    <script type="text/ng-template" id="event.html">
      <ul>
        <li>Team <b>{{team.name}}</b></li>
        <li>Name <b>{{event.name}}</b></li>
        <li>Start <b>{{event.start}}</b></li>
        <li>My RSVP <b>{{myResponse.response}}</b><th><a href="#/events/{{event.uuid}}/rsvp"><i class="icon-plus-sign"></i></a></th></li>
      </ul>
      <div>
        <tabset>
          <tab heading="RSVPs">
            <ng-include src="'rsvps.html'"/>
          </tab>
          <tab heading="Emails">
            
          </tab>
        </tabset>
      </div>
    </script>
    
    <!-- CACHE FILE: rsvp.html -->
    <script type="text/ng-template" id="rsvp.html">
      <h4>RSVP to {{event.name}}</h4>
      <form name="rsvpForm">
        <div class="control-group" ng-class="{error: rsvpForm.response.$invalid}" ng-controller="RsvpCtrl">
          <label>Response</label>
          <select id="rsvp" required name="response" ng-model="response.response" ng-options="rsvp.name as rsvp.name for rsvp in rsvps">
          </select>
        </div>
        <br>
        <a href="#/view/{{event.team_uuid}}/events/view/{{event.uuid}}" class="btn">Cancel</a>
        <button ng-click="save()" ng-disabled="isClean() || rsvpForm.$invalid" class="btn btn-primary">Save</button>
      </form>

    </script>
    
    
    <!-- CACHE FILE: rsvps.html.html -->
    <script type="text/ng-template" id="rsvps.html">
      <input type="text" ng-model="search" class="search-query" placeholder="Search">
      <table>
        <thead>
        <tr>
          <th>Email</th>
          <th>Response</th>
          <th>When</th>
          <th>Note</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="response in responses | filter:search | orderBy:'first_name'">
          <td>{{response.user_uuid}}</td>
          <td>{{response.response}}</td>
          <td>{{response.created}}</td>
          <td>{{response.note}}</td>
        </tr>
        </tbody>
      </table>
    </script>
    
  
    <!-- CACHE FILE: players.html -->
    <script type="text/ng-template" id="players.html">
      <input type="text" ng-model="search" class="search-query" placeholder="Search">
      <table>
        <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Type</th>
          <th><a href="#/view/{{team.uuid}}/players/new"><i class="icon-plus-sign"></i></a></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="player in players | filter:search | orderBy:'first_name'">
          <td>{{player.first_name}}</td>
          <td>{{player.last_name}}</td>
          <td><a href="#/players/view/{{player.uuid}}">{{player.user_uuid}}</a></td>
          <td>{{player.player_type}}</td>
          <td><a href="#/players/edit/{{player.uuid}}"><i class="icon-pencil"></i></a></td>
        </tr>
        </tbody>
      </table>
    </script>
  
    <!-- CACHE FILE: player_form.html -->
    <script type="text/ng-template" id="player_form.html">
            <h4>Add Player to {{team.name}}</h4>
      <form name="playerForm">
        <div class="control-group" ng-class="{error: playerForm.user_uuid.$invalid}">
          <label>Email</label>
          <input type="text" name="user_uuid" ng-model="player.user_uuid" required>
          <span ng-show="playerForm.user_uuid.$error.required" class="help-inline">Required</span>
        </div>
        <div class="control-group" ng-class="{error: playerForm.first_name.$invalid}">
          <label>First Name</label>
          <input type="text" name="first_name" ng-model="player.first_name" required>
          <span ng-show="playerForm.first_name.$error.required" class="help-inline">Required</span>
        </div>
        <div class="control-group" ng-class="{error: playerForm.last_name.$invalid}">
          <label>Last Name</label>
          <input type="text" name="last_name" ng-model="player.last_name" required>
          <span ng-show="playerForm.last_name.$error.required" class="help-inline">Required</span>
        </div>
        <div class="control-group" ng-class="{error: playerForm.player_type.$invalid}" ng-controller="PlayerTypeCtrl">
          <label>Player Type</label>
          <select id="playerType" required name="player_type" ng-model="player.player_type" ng-options="player_type.name as player_type.name for player_type in player_types">
          </select>
        </div>
        <br>
        <a href="#/view/{{team.uuid}}/players" class="btn">Cancel</a>
        <button ng-click="save()" ng-disabled="isClean() || playerForm.$invalid" class="btn btn-primary">Save</button>
        <!-- <button ng-click="destroy()" ng-show="team.uuid" class="btn btn-danger">Delete</button> -->
      </form>

    </script>
  
  
  
  </div>

  </body>

</html>
