<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8" />
    <title>My EZ Team</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css">
    <script src="http://code.angularjs.org/1.1.4/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular-resource.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script type="text/javascript" src="/js/restangular.js"></script>
    
    <script src="app.js"></script>
  </head>

  <body>
    <div ng-app="team">
	    <h2>My Teams</h2>
	    <div ng-view></div>
  
  
  
    <!-- CACHE FILE: list.html -->
    <script type="text/ng-template" id="list.html">
      <input type="text" ng-model="search" class="search-query" placeholder="Search">
      <table>
        <thead>
        <tr>
          <th>Name</th>
          <th><a href="#/new"><i class="icon-plus-sign"></i></a></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="team in teams | filter:search | orderBy:'name'">
          <td><a href="#/{{team.uuid}}/events">{{team.name}}</a></td>
          <td>
            <a href="#/edit/{{team.uuid}}"><i class="icon-pencil"></i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </script>
  
    <!-- CACHE FILE: view.html -->
    <script type="text/ng-template" id="view.html">
      <h3>{{ team.name }}</h3>
      <ul>
        <li>UUID: {{team.uuid}}</li>
        <li>Owner: {{team.owner_uuid}}</li>
        <li><a href="/static.myezteam.com/events/index.html#/team/{{team.uuid}}">Events</a></li>
      </ul>
    </script>
  
    <!-- CACHE FILE: detail.html -->
    <script type="text/ng-template" id="detail.html">
      <form name="myForm">
        <div class="control-group" ng-class="{error: myForm.name.$invalid}">
          <label>Name</label>
          <input type="text" name="name" ng-model="team.name" required>
          <span ng-show="myForm.name.$error.required" class="help-inline"> Required</span>
        </div>
      
        <br>
        <a href="#/" class="btn">Cancel</a>
        <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid" class="btn btn-primary">Save</button>
        <!-- <button ng-click="destroy()" ng-show="team.uuid" class="btn btn-danger">Delete</button> -->
      </form>
    </script>
  
    <!-- CACHE FILE: list.html -->
    <script type="text/ng-template" id="events.html">
      <h3>{{ team.name }} Events</h3>
      <input type="text" ng-model="search" class="search-query" placeholder="Search">
      <table>
        <thead>
        <tr>
          <th>Name</th>
          <th><a href="#/{{team.uuid}}/events/new"><i class="icon-plus-sign"></i></a></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="event in events | filter:search | orderBy:'name'">
          <td><a href="#/{{event.uuid}}">{{event.name}}</a></td>
          <td>
            <a href="#/events/edit/{{event.uuid}}"><i class="icon-pencil"></i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </script>
  
    <!-- CACHE FILE: detail.html -->
    <script type="text/ng-template" id="event_detail.html">
      <h4>Add Event to {{team.name}}</h4>
      <form name="myForm">
        <div class="control-group" ng-class="{error: eventForm.name.$invalid}">
          <label>Name</label>
          <input type="text" name="name" ng-model="event.name" required>
          <span ng-show="eventForm.name.$error.required" class="help-inline">Required</span>
        </div>
        <div class="control-group" ng-class="{error: eventForm.start.$invalid}">
          <label>Start</label>
          <input type="datetime" name="start" ng-model="event.start" required>
          <span ng-show="eventForm.start.$error.required" class="help-inline">Required</span>
        </div>
        <div class="control-group" ng-class="{error: eventForm.end.$invalid}">
          <label>End</label>
          <input type="datetime" name="end" ng-model="event.end">
        </div>
        <div class="control-group" ng-class="{error: eventForm.location.$invalid}">
          <label>Location</label>
          <input type="text" name="location" ng-model="event.location">
        </div>
        <div class="control-group" ng-class="{error: eventForm.default_rsvp.$invalid}" ng-controller="RsvpCtrl">
          <label>Default RSVP</label>
          <select id="newEventDefaultRSVP" required name="default_rsvp" ng-model="event.default_rsvp" ng-options="rsvp.name as rsvp.name for rsvp in rsvps">
          </select>
        </div>
        <br>
        <a href="#/{{team.uuid}}/events" class="btn">Cancel</a>
        <button ng-click="save()" ng-disabled="isClean() || eventForm.$invalid" class="btn btn-primary">Save</button>
        <!-- <button ng-click="destroy()" ng-show="team.uuid" class="btn btn-danger">Delete</button> -->
      </form>
    </script>
  
  </div>

  </body>

</html>
